# Ignore all files for language stats
* linguist-vendored
# Keep JS generated diffs hidden
*.js linguist-generated
bin/purust.js linguist-generated

# Only include target language
*.rs linguist-vendored=false
